name: Release
on:
  push:
    tags:
      - 'v*'

env:
  TUTOR_ROOT: ./.ci/

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Install pip
        run: pip install -r requirements/pip.txt
      - name: Build package
        run: make build-pythonpackage
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_UPLOAD_TOKEN }}
